h1 {
    color: #9A00FF;
    font-size: 2.75rem;
    margin: 0.5rem 0px; 
}

ul b, 
[data-nav-content="chracter-content"] b {
    color: #9A00FF;
}


h1, h3 {
    font-family: 'Limelight', cursive;
    text-decoration: underline dotted #ffd400;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    font-size: 14px;
}

.navigation-content-container {
    margin: auto;
    width: 100%;
}

.parent {
    display: flex;
    align-items: center;
}
.child {
    padding: 6px;
}

a {
    text-decoration: none;
    color: #ffd400;
}

.nav-item {
    padding-right: 1rem;
    color: #F03B59;
    text-decoration: underline dotted #ffd400;
    font-family: 'Limelight', cursive;
    font-size: 24px;
}

a:hover {
    color: #44aeff;
    cursor: pointer;
    text-decoration: underline dotted;
}

.container {
    max-width: 750px;
    background-color: white;
    height: 100vh;
    overflow-y: scroll;
}

.disclaimer{
    margin-top: 2rem !important;
    font-size: 12px;
    color: #F03B59;
}

ul {
    margin: 0px !important;
}

.interests-list {
    font-size: 12px;
}

p {
    margin-top: 0px !important;
}

hr.dotted {
    margin: 50px 0px;
    border-top: 3px dotted #ffd400;
}

.nav-content,
header {
    padding-left: 150px;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background-color: black;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
background: #F03B59; 
}

.margin-bottom {
    margin-bottom: 150px;
}

@media (min-width: 700px) {
    body {
        background-image: url("./../img/riku_bg.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: right top; 
        background-color: black;
        background-size: 90%;
    }

    .banner {
        display: none;
    }
}


@media screen and (max-width: 700px) {
    .nav-content,
    header {
        padding-left: 1rem;
    }

    .container {
        width: 100%;
    }

    h1 {
        color: #9A00FF;
        font-size: 2rem;
        margin: 0.5rem 0px; 
    }

    body {
        overflow-y: scroll;
        height: 100%;
        background-color: white;
    }
    .container {
        overflow-y: initial;
        height: 100%;
    }

    .banner {
        display: block;
        width: 100%;
        margin: auto;
    }
}
